<div class="login" *ngIf="user$ | async as user; else loading">
  <div class="card-body form-login">
    <i class="form-login-text bi bi-envelope-paper"></i>
    <h3 class="card-title">
      Gracias por registrarte
    </h3>
    <div class="form-group">
      <p> Porfavor verifica tu correo <strong>{{user?.email}}</strong> con el que te registraste </p>
    </div>
    <div class="row">
      <div class="form-group input-wrapper col-sm-12">
        <button class="btn btn-custom1" type="button" (click)="sendEmailVerification()">
          Reenviar confirmacion de correo
        </button>
      </div>
      <div class="form-group input-wrapper col-sm-12">
        <button class="btn btn-primary" [routerLink]="['/login']">
          Ya verifique mi correo
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Cargando...
</ng-template>