<app-navbar></app-navbar>

<div>
  <div class="title-page">
    <span> CONSULTAR EXPEDIENTE DE PACIENTE </span>
  </div>
</div>

<div class="mt-3 input-consult">
  <form [formGroup]="datoInput">
    <div class="form-group">
      <input
        formControlName="namePaciente"
        type="buscar"
        class="form-control"
        id="buscar"
        aria-describedby=""
        placeholder="Buscar"
      />
    </div>
    <div>
      <button type="button" class="btn btn-primary mt-3" (click)="leerDatos()">
        Enviar
      </button>
    </div>
  </form>
  <div *ngIf="data">
    <div *ngIf="data.datosPaciente.Nombre != null">
      <fieldset class="fieldset row mb-5 mt-3">
        <legend style="text-align: center">INFORMACION DEL PACIENTE</legend>
        <div class="row mb-4 mt-4" style="width: 100%; margin: auto;">
          <div class="col-sm-6 input-wrapper data-text ">
            <label class="label-data" for="nombre"> Nombre: </label>
            <span> &nbsp; {{
              data.datosPaciente.Nombre + " " + data.datosPaciente.Apellido
            }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Correo: </label>
            <span> &nbsp; {{ data.datosPaciente.Correo }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Edad: </label>
            <span> &nbsp; {{ data.datosPaciente.Edad }} &nbsp; años</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Direccion: </label>
            <span> &nbsp; {{ data.datosPaciente.Direccion }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Fecha de nacimiento: </label>
            <span> &nbsp; {{ data.datosPaciente.FechaNacimiento }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Genero: </label>
            <span> &nbsp; {{ data.datosPaciente.Genero }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Peso: </label>
            <span> &nbsp; {{ data.datosPaciente.Peso }} &nbsp; kilogramos</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Telefono: </label>
            <span> &nbsp; {{ data.datosPaciente.Telefono }}</span>
          </div>
        </div>
        <div>
          <legend style="text-align: center">CONTACTO DE EMERGENCIA</legend>
        <div class="row mb-4 mt-4" style="width: 100%; margin: auto;">
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Nombre: </label>
            <span> &nbsp; {{
              data.contactoEmergencia.Nombre +
                " " +
                data.contactoEmergencia.Apellido
            }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Correo: </label>
            <span> &nbsp; {{ data.contactoEmergencia.Correo }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Direccion: </label>
            <span> &nbsp; {{ data.contactoEmergencia.Direccion }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Edad: </label>
            <span> &nbsp; {{ data.contactoEmergencia.Edad }} &nbsp; años</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Correo: </label>
            <span> &nbsp; {{ data.contactoEmergencia.Correo }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Relacion: </label>
            <span> &nbsp; {{ data.contactoEmergencia.Relacion }}</span>
          </div>
        </div>
        </div>
        <div>
          <legend style="text-align: center">CONSULTA</legend>
        <div class="row mb-4 mt-4" style="width: 100%; margin: auto;">
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Porque viene: </label>
            <span> &nbsp; {{ data.consulta.PorqueViene }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Desde cuando: </label>
            <span> &nbsp; {{ data.consulta.DesdeCuando }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Anteriormente: </label>
            <span> &nbsp; {{ data.consulta.Anteriormente }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Alergias: </label>
            <span> &nbsp; {{ data.consulta.Alergias }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Vacuna: </label>
            <span> &nbsp; {{ data.consulta.Vacuna }}</span>
          </div>
          <div class="col-sm-6 input-wrapper data-text">
            <label class="label-data" for="nombre"> Receta: </label>
            <span> &nbsp; {{ data.consulta.Receta }}</span>
          </div>
        </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
